@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,900&display=swap');


body {
    margin: 0;
    padding: 0;
}

.home-section {
    background-color: #f3f3f3;
    height: 100vh;
}
.footer-section {
    background-color: #f3f3f3;
    padding-bottom: 60px;
}
hr {
    color: black;
}

.fade-in-image { animation: fadeIn 5s; }




@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }
._3bLYT {
    background-color: #eea302;
    width: 25px;
    height: 25px;
    border-radius: 50px;
}
.container-width-custom {
    width: calc(100% - 100px);
    margin: auto;
    padding-top: 30px;
}
.name-a-tag {
    margin-left: 10px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
}
.ul-links {
    list-style: none;
}
.ul-links li {
    padding: 10px;
}

.vertical-pipe-projects {
    border-left: 1px solid #343a40;
    border-right: 1px solid #343a40;
    padding: 8px 16px;
}

.first-image-section img {
    width: 100%;
    height: auto;
}

.first-image-section {
    width: 518px;
height: 480px;
padding-top: 140px;
}
.second-bio-section {
    padding-top: 200px;
    padding-bottom: 66px;
}

.second-bio-section h1 {
    font-size: 100px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 1rem;
}

.second-bio-section p {
    font-size: 22px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.second-bio-section .second-sec-para {
    font-size: 16px;
    color: #000;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
.skills-button {
    font-size: 22px;
    font-weight: 700;
    background-color: #eea302;
    padding: 57px 42px;
    border-radius: 50%;
    border: 1px solid black;
}

.skills-button:hover {
    background-color: #f3f3f3;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.projects-button {
    font-size: 22px;
    font-weight: 700;
    background-color: #ff3b25;
    padding: 57px 26px;
    border-radius: 50%;
    border: 1px solid black;
}

.projects-button:hover {
    background-color: #f3f3f3;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.contact-button {
    font-size: 22px;
    font-weight: 700;
    background-color: #80d8da;
    padding: 57px 30px;
    border-radius: 50%;
    border: 1px solid black;
}

.contact-button:hover {
    background-color: #f3f3f3;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}

.border-line-horizontal {
    border-top: 1px solid #C7C7C7;
    margin-left: 80px;
}

.footer-heading {
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 0.5rem;
}
.footer-last {
    font-size: 13px;
    margin-bottom: 0px;
}
.heading-ans {
    font-size: 16px;
    font-weight: 300;
}
.first-section {
    font-family: 'Raleway', sans-serif;
}
.img-section img {
    width: 60px;
    height: 60px;
}
.img-section-two img {
    width: 100px;
    height: 60px;
}
.first-section-content p {
    line-height: 1.8;
}
.skills-padding {
    padding-top: 150px;
    padding-bottom: 50px;
}
.skills-padding h1 {
    font-family: 'Raleway', sans-serif;
}

.contact-content h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}


.inputs-contact-field {
    background-color: transparent;
    border: none;
    border: 1px solid #000;
    height: 44px;
    width: 240px;
}

.padding-right-input-label {
    padding-right: 20px;
    padding-bottom: 20px;
}

textarea {
    background-color: transparent;
    border: none;
    border: 1px solid #000;
    height: 160px;
    width: 330px;
}

.button-links {
    padding-top: 90px;
}

.submit-button {
    font-size: 22px;
    font-weight: 700;
    background-color: #eea302;
    padding: 66px 42px;
    border-radius: 50%;
    border: 1px solid black;
}

.submit-button:hover {
    text-decoration: none;
    background-color: #f3f3f3;
    transition: 0.3s ease-in-out;
}
.skills-padding-more {
    padding-top: 180px;
    padding-bottom: 50px;
}

/* .scroll-bg {
    background-color: black;
    width: 400px;
    margin: 10% auto;
} */

.scroll-div {
    /* width: 400px; */
    /* background-color: rgb(11, 11, 114); */
    height: 400px;
    overflow: hidden;
    overflow-y: scroll;
}


* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}



body {
    font: 12px/1.5 'PT Sans', serif;
    margin: 25px;
  }
  
  .tags {
    list-style: none;
    margin: 0;
    overflow: hidden; 
    padding: 0;
  }
  
  .tags li {
    float: left; 
  }
  
  .tag {
    background: #eee;
    border-radius: 3px 0 0 3px;
    color: #999;
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding: 0 20px 0 23px;
    position: relative;
    margin: 0 10px 10px 0;
    text-decoration: none;
    -webkit-transition: color 0.2s;
  }
  
  .tag::before {
    background: #fff;
    border-radius: 10px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
    content: '';
    height: 6px;
    left: 10px;
    position: absolute;
    width: 6px;
    top: 10px;
  }
  
  .tag::after {
    background: #fff;
    border-bottom: 13px solid transparent;
    border-left: 10px solid #eee;
    border-top: 13px solid transparent;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .tag:hover {
    background-color: crimson;
    color: white;
    text-decoration: none;
  }
  
  .tag:hover::after {
     border-left-color: crimson; 
  }

  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  .custom-btn:hover {
    color: rgb(0,172,238);
  }

  .custom-btn a:hover{
    text-decoration: none;
  }
  .custom-btn a {
    color: #fff;
  }
 /* 3 */
.btn-3 {
    background: rgb(0,172,238);
  background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
    width: 130px;
    height: 40px;
    line-height: 42px;
    padding: 0;
    border: none;
    
  }
  .btn-3 a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-3:before,
  .btn-3:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3:before {
    height: 0%;
    width: 2px;
  }
  .btn-3:after {
    width: 0%;
    height: 2px;
  }
  .btn-3:hover{
     background: transparent;
    box-shadow: none;
  }
  .btn-3:hover:before {
    height: 100%;
  }
  .btn-3:hover:after {
    width: 100%;
  }
  .btn-3 a:hover{
     color: rgba(2,126,251,1);
  }
  .btn-3 a:before,
  .btn-3 a:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
     background: rgba(2,126,251,1);
    transition: all 0.3s ease;
  }
  .btn-3 a:before {
    width: 2px;
    height: 0%;
  }
  .btn-3 a:after {
    width: 0%;
    height: 2px;
  }
  .btn-3 a:hover:before {
    height: 100%;
  }
  .btn-3 a:hover:after {
    width: 100%;
  }


  .container-project {
    width: calc(100% - 300px);
    margin: auto;
  }
  .fa.fa-linkedin{
    font-size: 25px;
    padding-right: 10px;
  }
  .fa.fa-github{
    font-size: 25px;
  }